In [1]:
import pandas as pd

In [12]:
data=pd.read_excel('ResponseGoogleForm.xlsx')

In [13]:
data.shape

(306, 4)

In [14]:
data.head(8)

,NO,KELUHAN,SENTIMEN,KATEGORI
0,1,Beberapa dosen kadang kurang menguasai materi ...,Negatif,TENAGA PENGAJAR (DOSEN)
1,2,Masih ada beberapa dosen yg kalo ngajar kurang...,Negatif,TENAGA PENGAJAR (DOSEN)
2,3,Terkait dosen pembimbing TA kadang terlalu pas...,Negatif,TENAGA PENGAJAR (DOSEN)
3,4,Dosen sulit untuk dihubungi untuk bimbingan t...,Negatif,TENAGA PENGAJAR (DOSEN)
4,5,kartu hasil studi belum bisa dicetak karna bel...,Negatif,AKADEMIK
5,6,Dosen harap fast respon,Negatif,TENAGA PENGAJAR (DOSEN)
6,7,Beberapa dosen yang mengajar itu seenaknya saj...,Negatif,TENAGA PENGAJAR (DOSEN)
7,8,"Jangan anggap kami mahasiswa, paham semua keti...",Negatif,TENAGA PENGAJAR (DOSEN)

In [15]:
data.tail(3)

,NO,KELUHAN,SENTIMEN,KATEGORI
303,304,Wifi di gedung TI terkadang tidak bisa konek d...,Negatif,SARANA PRASARANA
304,305,"parkir motor kepanasan, ya walau ada kanopi it...",Negatif,SARANA PRASARANA
305,306,Komputer di lab banyak yang ngga berfungsi,Negatif,SARANA PRASARANA

In [17]:
data.sample(5)

,NO,KELUHAN,SENTIMEN,KATEGORI
32,33,Sudah bagus kok,Positif,LAINNYA
258,259,Kuliah disini adalah kesempatan besar bagi say...,Positif,AKADEMIK
112,113,"Fasilitas sangat tidak memadai, terutama wifi ...",Negatif,SARANA PRASARANA
34,35,Sistem yg lebih disiapkan lagi saat pembayaran...,Negatif,KEUANGAN
223,224,"Dosen sangat kompeten dan kooperatif, mantap !!",Positif,TENAGA PENGAJAR (DOSEN)

In [18]:
#datanya secara deskriptif
data.describe()

               NO
count  306.000000
mean   153.500000
std     88.478811
min      1.000000
25%     77.250000
50%    153.500000
75%    229.750000
max    306.000000

In [19]:
#melihat kolom yang ada
data.columns

Index(['NO', 'KELUHAN', 'SENTIMEN', 'KATEGORI'], dtype='object')

In [21]:
# menghitung variabel kategorik pada kolom Is_Response
data['SENTIMEN'].value_counts()

Negatif    209
Positif     95
Neutral      2
Name: SENTIMEN, dtype: int64

In [22]:
#Create Train and Tes
from sklearn.model_selection import train_test_split

In [23]:
X=data.KELUHAN
y=data.SENTIMEN

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=225)

In [25]:
print('Banyak data x_train :',len(x_train))
print('Banyak data x_test  :',len(x_test))
print('Banyak data y_train :',len(y_train))
print('Banyak data y_test  :',len(y_test))

Banyak data x_train : 275
Banyak data x_test  : 31
Banyak data y_train : 275
Banyak data y_test  : 31

In [26]:
#Text Pre-Processing
import string

#Fungsi untuk merubah kalimat menjadi lower case dan
#menghilangkan spesial karakter/tanda baca
def lower_case(teks):
    return teks.translate(str.maketrans('','',string.punctuation)).lower().strip()
#lower_case('Saya MEmakan nasi tadi pagi !. @ #')

In [27]:
#Remove StopWord / useless word
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
def remove_stop_words(teks):
    tokens = word_tokenize(teks)
    listStopword =  set(stopwords.words('indonesian'))
    
    teks_hasil = []
    for t in tokens:
        if t not in listStopword:
            teks_hasil.append(t)
    teks_bersih = " ".join([word for word in teks_hasil])
    return teks_bersih

#remove_stop_words('Siapa sih yang tidak tau Afgan')

In [28]:
#Stemming Bahasa Indonesia
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()

def stemming_indo(teks):
    hasil = stemmer.stem(teks)
    return hasil

#stemming_indo('Membanggakan, menunda, mengejek')

In [29]:
#Fungsi data_preprocessing
def data_preprocessing(teks):
    hasil_lower = lower_case(teks)
    hasil_stopwords= remove_stop_words(hasil_lower)
    kalimat_bersih = stemming_indo(hasil_stopwords)
    
    return kalimat_bersih

In [30]:
#Tambah 1 Column Baru untu menyimpan data yg sudah dibersihkan

x=[]
for teks in data.KELUHAN:
    x.append(data_preprocessing(teks))

In [31]:
clean_text=pd.DataFrame({'clean_text':x})

In [32]:
data=pd.concat([data,clean_text],axis=1)

In [33]:
data.head(5)

,NO,KELUHAN,SENTIMEN,KATEGORI,clean_text
0,1,Beberapa dosen kadang kurang menguasai materi ...,Negatif,TENAGA PENGAJAR (DOSEN),dosen kadang kuasa materi ajar dosen kreatif
1,2,Masih ada beberapa dosen yg kalo ngajar kurang...,Negatif,TENAGA PENGAJAR (DOSEN),dosen yg kalo ngajar d paham
2,3,Terkait dosen pembimbing TA kadang terlalu pas...,Negatif,TENAGA PENGAJAR (DOSEN),kait dosen bimbing ta kadang pasif benerbener ...
3,4,Dosen sulit untuk dihubungi untuk bimbingan t...,Negatif,TENAGA PENGAJAR (DOSEN),dosen sulit hubung bimbing tugas 3x24 jam bale...
4,5,kartu hasil studi belum bisa dicetak karna bel...,Negatif,AKADEMIK,kartu hasil studi cetak karna buka evaluasi do...

In [34]:
#Feature Extraction / Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

tvec=TfidfVectorizer()

In [36]:
#Membuat Model. Finally Huft

from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

clasifiNB = MultinomialNB()

modelSentimen= Pipeline([('vectorizer',tvec)
                 ,('classifier',clasifiNB)])

modelSentimen.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [40]:
#Prediction
hasil=modelSentimen.predict(x_test)
#print(hasil)

In [50]:
#Cek Akurasi
from sklearn.metrics import accuracy_score,confusion_matrix
#confusion_matrix(hasil,y_test)
print('Akurasi : ',accuracy_score(hasil,y_test))

Akurasi :  0.8064516129032258