In [99]:
import pandas as pd

In [100]:
data=pd.read_excel('ResponseGoogleForm.xlsx')

In [101]:
data.shape

(346, 4)

In [102]:
data.head(8)

,NO,KELUHAN,SENTIMEN,KATEGORI
0,1,Beberapa dosen kadang kurang menguasai materi ...,Negatif,TENAGA PENGAJAR (DOSEN)
1,2,Masih ada beberapa dosen yg kalo ngajar kurang...,Negatif,TENAGA PENGAJAR (DOSEN)
2,3,Terkait dosen pembimbing TA kadang terlalu pas...,Negatif,TENAGA PENGAJAR (DOSEN)
3,4,Dosen sulit untuk dihubungi untuk bimbingan t...,Negatif,TENAGA PENGAJAR (DOSEN)
4,5,kartu hasil studi belum bisa dicetak karna bel...,Negatif,AKADEMIK
5,6,Dosen harap fast respon,Negatif,TENAGA PENGAJAR (DOSEN)
6,7,Beberapa dosen yang mengajar itu seenaknya saj...,Negatif,TENAGA PENGAJAR (DOSEN)
7,8,"Jangan anggap kami mahasiswa, paham semua keti...",Negatif,TENAGA PENGAJAR (DOSEN)

In [103]:
data.tail(3)

,NO,KELUHAN,SENTIMEN,KATEGORI
343,344,Dulu masih bisa ngeprint kertas di baak tapi s...,Negatif,AKADEMIK
344,345,"Keterlaluan, sudah melakukan pembayaran tapi p...",Negatif,KEUANGAN
345,346,"Fasilitasnnya di perbaiki dong, masa toilet ko...",Negatif,SARANA PRASARANA

In [104]:
data.sample(5)

,NO,KELUHAN,SENTIMEN,KATEGORI
1,2,Masih ada beberapa dosen yg kalo ngajar kurang...,Negatif,TENAGA PENGAJAR (DOSEN)
274,275,Kadang unit kegiatan mahasiswa butuh trasporta...,Negatif,SARANA PRASARANA
214,215,Beruntungnya saya dapat kesempatan belajar di ...,Positif,TENAGA PENGAJAR (DOSEN)
295,296,Mushala kurang besar,Negatif,SARANA PRASARANA
330,331,Kurikulum yang saya dapat dikampus ini kurikul...,Negatif,AKADEMIK

In [105]:
#datanya secara deskriptif
data.describe()

              NO
count  346.00000
mean   173.50000
std    100.02583
min      1.00000
25%     87.25000
50%    173.50000
75%    259.75000
max    346.00000

In [106]:
#melihat kolom yang ada
data.columns

Index(['NO', 'KELUHAN', 'SENTIMEN', 'KATEGORI'], dtype='object')

In [107]:
# menghitung variabel kategorik pada kolom Is_Response
data['KATEGORI'].value_counts()

SARANA PRASARANA           148
TENAGA PENGAJAR (DOSEN)     76
AKADEMIK                    67
KEUANGAN                    55
Name: KATEGORI, dtype: int64

In [108]:
#Create Train and Tes
from sklearn.model_selection import train_test_split

In [109]:
X=data.KELUHAN
y=data.KATEGORI

In [110]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=225)

In [111]:
print('Banyak data x_train :',len(x_train))
print('Banyak data x_test  :',len(x_test))
print('Banyak data y_train :',len(y_train))
print('Banyak data y_test  :',len(y_test))

Banyak data x_train : 311
Banyak data x_test  : 35
Banyak data y_train : 311
Banyak data y_test  : 35

In [112]:
#Text Pre-Processing
import string

#Fungsi untuk merubah kalimat menjadi lower case dan
#menghilangkan spesial karakter/tanda baca
def lower_case(teks):
    return teks.translate(str.maketrans('','',string.punctuation)).lower().strip()
#lower_case('Saya MEmakan nasi tadi pagi !. @ #')

In [113]:
#Remove StopWord / useless word
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
def remove_stop_words(teks):
    tokens = word_tokenize(teks)
    listStopword =  set(stopwords.words('indonesian'))
    
    teks_hasil = []
    for t in tokens:
        if t not in listStopword:
            teks_hasil.append(t)
    teks_bersih = " ".join([word for word in teks_hasil])
    return teks_bersih

#remove_stop_words('Siapa sih yang tidak tau Afgan')

In [114]:
#Stemming Bahasa Indonesia
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()

def stemming_indo(teks):
    hasil = stemmer.stem(teks)
    return hasil

#stemming_indo('Membanggakan, menunda, mengejek')

In [115]:
#Fungsi data_preprocessing
def data_preprocessing(teks):
    hasil_lower = lower_case(teks)
    hasil_stopwords= remove_stop_words(hasil_lower)
    kalimat_bersih = stemming_indo(hasil_stopwords)
    
    return kalimat_bersih

In [116]:
#Tambah 1 Column Baru untu menyimpan data yg sudah dibersihkan

x=[]
for teks in data.KELUHAN:
    x.append(data_preprocessing(teks))

In [117]:
clean_text=pd.DataFrame({'clean_text':x})

In [118]:
data=pd.concat([data,clean_text],axis=1)

In [119]:
data.head(5)

,NO,KELUHAN,SENTIMEN,KATEGORI,clean_text
0,1,Beberapa dosen kadang kurang menguasai materi ...,Negatif,TENAGA PENGAJAR (DOSEN),dosen kadang kuasa materi ajar dosen kreatif
1,2,Masih ada beberapa dosen yg kalo ngajar kurang...,Negatif,TENAGA PENGAJAR (DOSEN),dosen yg kalo ngajar d paham
2,3,Terkait dosen pembimbing TA kadang terlalu pas...,Negatif,TENAGA PENGAJAR (DOSEN),kait dosen bimbing ta kadang pasif benerbener ...
3,4,Dosen sulit untuk dihubungi untuk bimbingan t...,Negatif,TENAGA PENGAJAR (DOSEN),dosen sulit hubung bimbing tugas 3x24 jam bale...
4,5,kartu hasil studi belum bisa dicetak karna bel...,Negatif,AKADEMIK,kartu hasil studi cetak karna buka evaluasi do...

In [120]:
#Feature Extraction / Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

tvec=TfidfVectorizer()

In [121]:
#Membuat Model. Finally Huft

from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

clasifiNB = MultinomialNB()

modelKategori= Pipeline([('vectorizer',tvec)
                 ,('classifier',clasifiNB)])

modelKategori.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [127]:
#Prediction
coba = ['Ruang lab pemrograman kotor']
hasil=modelKategori.predict(coba)
print(hasil[0])

SARANA PRASARANA

In [123]:
#Cek Akurasi
from sklearn.metrics import accuracy_score,confusion_matrix
#confusion_matrix(hasil,y_test)
print('Akurasi : ',accuracy_score(hasil,y_test))

Akurasi :  0.7428571428571429

In [124]:
import joblib

In [125]:
#Save Model
joblib.dump(modelKategori, 'modelKategori.pkl')

['modelKategori.pkl']